@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

h1 {
    text-align: center;
}

h1,
h2 {
    font-family: 'Yesteryear', cursive;
    font-size: 40px;
    color: white;
    z-index: 2;
}

body {
    background-color: #4C6444;
    padding: 30px;
}


.cars-container {
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    justify-content: space-between;
}

.car {
    border: 1px solid #8A6240;
    border-radius: 15px;
    background-color: #CABA9C;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Mulish', sans-serif;
    z-index: 2;
    position: relative;

}

.car h2 {
    color: #4D2D18;
}

.car-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    max-height: 30vh;
    height: 200px;
}

.car-image {
    height: 100%;
    position: relative;
}

.car-image::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-box-shadow: inset 0px 0px 10px 10px #CABA9C;
    box-shadow: inset 0px 0px 10px 10px #CABA9C;
}

.car-image img {
    object-fit: cover;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;

}

.car-content {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.car-content span {
    font-weight: bold;
}

.car-info {
    max-width: 1200px;
    width: 100%;
}

.car-content-info {
    text-align: center;
}

/* Button */

.learn-more-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.learn-more {
    width: 12rem;
    height: auto;
}

.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #8A6240;
    border-radius: 1.625rem;
}

.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.learn-more .learn-more-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.69rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.learn-more:hover .circle {
    width: 100%;
}

.learn-more:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.learn-more:hover .learn-more-text {
    color: #fff;
}

.carInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carInfo .car-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carInfo .car-content div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: start;
    margin: 10px 5px;
}


/* EDIT BUTTON */

.editBtn {
    width: 55px;
    height: 55px;
    border-radius: 20px;
    border: none;
    background-color: #8A6240;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    overflow: hidden;
    transition: all 0.3s;
}

.editBtn::before {
    content: "";
    width: 200%;
    height: 200%;
    background-color: #ffffff26;
    position: absolute;
    z-index: 1;
    transform: scale(0);
    transition: all 0.3s;
    border-radius: 50%;
    filter: blur(10px);
}

.editBtn:hover::before {
    transform: scale(1);
}

.editBtn:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
}

.editBtn svg {
    height: 17px;
    fill: white;
    z-index: 3;
    transition: all 0.2s;
    transform-origin: bottom;
}

.editBtn:hover svg {
    transform: rotate(-15deg) translateX(5px);
}

.editBtn::after {
    content: "";
    width: 25px;
    height: 1.5px;
    position: absolute;
    bottom: 19px;
    left: -5px;
    background-color: white;
    border-radius: 2px;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out;
}

.editBtn:hover::after {
    transform: scaleX(1);
    left: 0px;
    transform-origin: right;
}



/* INPUT BUTTONS */

.input-group {
    position: relative;
}

.input-group div{
    position: relative;
    width: auto !important;
}

.input {
    border: solid 1.5px #4D2D18;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ececea;
}

.user-label {
    position: absolute;
    left: 15px;
    color: #4D2D18;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
    outline: none;
    border: 1.5px solid #8A6240;
}

.input:focus~label,
input:valid~label {
    transform: translateY(-50%) scale(0.8);
    background-color: #ececea;
    padding: 0 .2em;
    color: #8A6240;
    box-shadow: 0px 0px 3px 3px #ececea;
}


/* validate .submit-button */

.submit-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.submit-button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    -webkit-transition: all 250ms;
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
   }
   
   .submit-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #467935;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    -webkit-transition: all 250ms;
    transition: all 250ms
   }
   
   .submit-button:hover {
    color: #e8e8e8;
   }
   
   .submit-button:hover::before {
    width: 100%;
   }